.itineraryPreview {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.park {
    width: 100%;
    max-height: 25%;
}

.itineraryImage {
    position: absolute;
    z-index: -1;
    /* opacity: .8; */
    width: 100%;
    bottom: 0;
}

.itineraryImage img {
    width: 100%;
}

.itineraryPark__Name {
    font-size: 2rem;
    font-weight: bold;
    text-justify: center;
    color: white;
}

.itineraryAttraction__Name {
    color:#083B66;
    background-color: rgba(155,203,150,.65);
    font-size: 1.5rem;
    font-weight: bold;
    text-justify: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px

}



.popup__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.popup__button .popup__window{
    visibility: hidden;
    z-index: 1;
    width: auto;
    background-color: #555;
    color: #fff;
    text-justify: center;
    text-align: left;
    border-radius: 6px;
    padding: .5rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10%;
}

.popup__button .show {
    visibility: visible;
}

.saveButton {
    
}

/* The Modal (background) */
.eateryModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content Box */
  .eatery__information {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  /* The Close Button */
  .eateryClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .eateryClose:hover,
  .eateryClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

