.park {
    width: 100%;
    max-height: 25%;
    position: relative;
    overflow: hidden;
}

.itineraryPark__Image {
    position: absolute;
    z-index: -1;
    opacity: .8;
    width: 100%;
    bottom: 0;
}

.itineraryPark__Name {
    font-size: 2rem;
    font-weight: bold;
    text-justify: center;
    color: white;
}

.popup__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.popup__button .popup__window{
    visibility: hidden;
    z-index: 1;
    width: auto;
    background-color: #555;
    color: #fff;
    text-justify: center;
    text-align: left;
    border-radius: 6px;
    padding: .5rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10%;
}

.popup__button .show {
    visibility: visible;
}

.saveButton {
    
}

