.itineraryList {
    display: flex;
    flex-direction: column;
    color: white;
}

.itineraryTitle {
    background-color: rgba(155, 203, 150, .8);
    padding: .1rem .4rem;
}

.itinerary {
    background-color: rgba(155, 203, 150, .8);
    margin: 0 0 .4rem;
    padding: .2rem .4rem;
}

.itineraryHeader {
    font-weight: bold;
}

.itineraryStop {
    display: inline;
}