@import url("currentItinerary.css");
@import url("interaries.css");

.banner{
    border: 1px solid black;
    background: rgba(155,203,150,.5);
    width: 100%;
    height: 300px;
}

.banner h2{
    display: flex;
    color: #fff;
    justify-content: flex-end;
    text-shadow: 2px 2px black;
    padding: 20px;
    opacity: 1.0;
    font-family: cursive;
}
.banner img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

body{    
    content: "";
    background: url(https://image.freepik.com/free-vector/evening-fog-tops-trees-pine-forest_1284-27059.jpg);
    background-size: cover;
    background-color: #5071A6;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}

.leftContainer {
    flex: 3;
}

.rightContainer {
    flex: 1;
}


