@import url("currentItinerary.css");

.banner{
    border: 1px solid black;
    background-color:#9BCB96;
    width: 100%;
    height: 100%;
   
}

.banner h2{
    display: flex;
    color: #fff;
    justify-content: flex-end;
    text-shadow: 2px 2px black;
    padding: 20px;
}

body::after {    
    content: "";
    background: url(https://image.freepik.com/free-vector/evening-fog-tops-trees-pine-forest_1284-27059.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}
body{
    background-color: #5071A6;
}


