.weatherList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    color: #fff;
    background-color: #5071A6;
    font-family: cursive;
}
.weather{
    display: flex;
    flex-direction: row;
    
}
.weatherIcon{
   display: flex;
   justify-content: center;
   height: 75%;
}
/* .weatherIcon img{
    height: 60%;
} */

