.weatherList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    color: #fff;
    background-color: #5071A6;
    font-family: cursive;
}

